canvas {
    display: block;
    margin: 0 auto;
}
* {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}
pre {
    max-height: 200px;
    overflow: auto;
    height: 200px;
    background-color:rgba(17,24,39,0.1);
    padding: 10px;
    max-width: 100%;
    overflow-y: scroll;
    text-wrap: wrap;
    text-align: left;
}
body {
    background: white;
    height: 100vh;
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 28px;
}
h1, h2 {
    color: rgb(103, 6, 206);
}
details {
    width: 100%;
    margin: 0;
    text-align: left;
}
nav {
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    padding: 0;
    padding-left: 1em;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
summary {
    border: 2px solid #00ffce;
    color: #000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
a {
    color: #5400ec;
    text-decoration: none;
}
.content {
    display: flex;
    flex-grow: 1;
}
.left {
    flex: 50%;
    padding: 0 1em;
    border-right: 1px solid #e5e7eb;
    box-sizing: border-box;
}
.right {
    flex: 50%;
    padding: 0 2em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.image-container {
    flex-grow: 1;
}
@media screen and (max-width: 900px) {
    .content {
        display: block;
    }
    .left, .right {
        padding: 0;
    }
    .left {
        border-right: 0;
    }

    canvas {
        margin-bottom: 50px;
    }
    .right {
        width: 45em;
        margin: auto;
    }
}
.controls {
    text-align: left;
}
.space {
    padding-left: 50px;
}
.widgetButton {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    padding: 12px 24px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border-radius: 4px;
    background-color: #7733f4;
    box-shadow: 0 3px 3px 0 rgb(55 65 81 / 20%);
    font-family: proxima-nova,sans-serif;
    color: #fff;
    font-weight: 700;
    text-align: center;
    letter-spacing: .5px;
}
.banner {
    max-width: 100%;
    margin-bottom: 20px;
    max-height: 150px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 30px;
    max-width: 40em;
    margin: auto;
    margin-bottom: 30px;
}
.card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px 1px rgb(0 0 0 / 10%);
    overflow: hidden;
    text-align: left;
    padding: 10px;
}
.card img {
    width: 100%;
}
.card h4 {
    margin-bottom: 20px;
    color: #1f2937;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
}
.card a {
    color: inherit;
    text-decoration: none;
}
.card p {
    margin-bottom: 20px;
    padding-top: 10px;
    border-top: 1px solid #e5e7eb;
    color: #666;
    line-height: 1.4;
    font-weight: 400;
}

footer {
    margin-top: 50px;
}

.section {
    margin-bottom: 50px;
}

li {
    margin-bottom: 4px;
}

.show-normalized {
    background-color: #5400ec;
    opacity: 0.8;
    color: white;
    font-weight: 600;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
}

/* Taskbar */
.taskbar-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
    margin-top: 1em;
}

.taskbar-container .tc-container {
    max-width: 700px;
}

.taskbar {
    display: flex;
    background-color: #7733f4;
    color: #f1edf8;

    border-radius: 5px;
    padding: 6px;

    justify-content:space-around;
    box-shadow: 0 2px 3px 1px rgb(0 0 0 / 20%);
}

.taskbar .t-icon {
    display: flex;
    flex-direction: column;
    padding: 8px 24px;
    border-radius: 5px;
    transition: all .15s ease-in-out;
}

.taskbar .t-icon:hover {
    cursor: pointer;
    background-color: #8f54fd;
}

.taskbar .t-icon.active {
    background-color: #f4efff;
    color: #7733f4;
}

.taskbar .t-icon .ti-caption {
    font-size: 11px;
    margin-top: 8px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.taskbar .t-divider {
    background-color: #8145f1;
    width: 1px;
}

/* Coordinates */
.coordinates {
    display: flex;
    flex-direction: column;
    text-align: left;

    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 8px;
    
    font-size: 1em;
    box-shadow: 0 2px 3px 1px rgb(0 0 0 / 20%);
    background-color: #fbf9ff;
}

.coordinates .cc-title {
    margin-bottom: 4px;
    color: #5400ec;
}

.coordinates .cc-coord {
    margin-bottom: 2px;
    color: #989898;
}

.coordinates .cc-value {
    color: #000;
}


/* Helpers */
.ta-left {
    text-align: left;
}

.mb-1 {
    margin-bottom: 8px;
}

.mb-2 {
    margin-bottom: 16px;
}

.mb-3 {
    margin-bottom: 24px;
}

.mt-1 {
    margin-top: 8px;
}

.mt-2 {
    margin-top: 16px;
}

.mt-3 {
    margin-top: 24px;
}