canvas {
    display: block;
    margin: 0 auto;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
pre {
    max-height: 200px;
    overflow: auto;
    height: 200px;
    background-color:rgba(17,24,39,0.1);
    padding: 10px;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    background: rgba(17,24,39,0.4);
    min-height: 50vh;
}
h1 {
    font-size: 28px;
}
h1, h2 {
    color: #5400ec;
}
details {
    width: 100%;
    margin: 0;
    text-align: left;
}
summary {
    border: 2px solid #00ffce;
    color: #000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
a {
    color: #5400ec;
    text-decoration: none;
}
main {
    text-align: center;
    background: white;
    padding: 2em;
    border-radius: 1em;
}
.flex {
    display: flex;
}
.left {
    flex: 0 50%;
    padding: 0 2em;
    border-right: 1px solid #e5e7eb;
}
.right {
    flex: 0 50%;
    padding: 0 2em;
}
pre {
    text-align: left;
}
.side_by_side {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.side_by_side:first-child {
    flex: 0 50%;
}
.side_by_side:last-child {
    flex: 0 40%;
    width: 100% !important;
}
@media screen and (max-width: 1200px) {
    main {
        padding: 3em;
    }
    .side_by_side, .flex {
        display: block;
    }
    .left, .right {
        padding: 0;
    }
    .left {
        border-right: 0;
    }
}
.controls {
    text-align: left;
}
.space {
    padding-left: 50px;
}
.widgetButton {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    padding: 12px 24px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border-radius: 4px;
    background-color: #7733f4;
    box-shadow: 0 3px 3px 0 rgb(55 65 81 / 20%);
    font-family: proxima-nova,sans-serif;
    color: #fff;
    font-weight: 700;
    text-align: center;
    letter-spacing: .5px;
}
.banner {
    max-width: 100%;
    margin-bottom: 20px;
    max-height: 150px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 30px;
    max-width: 40em;
    margin: auto;
    margin-bottom: 30px;
}
.card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px 1px rgb(0 0 0 / 10%);
    overflow: hidden;
    text-align: left;
    padding: 10px;
}
.card img {
    width: 100%;
}
.card h4 {
    margin-bottom: 20px;
    color: #1f2937;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
}
.card a {
    color: inherit;
    text-decoration: none;
}
.card p {
    margin-bottom: 20px;
    padding-top: 10px;
    border-top: 1px solid #e5e7eb;
    color: #666;
    line-height: 1.4;
    font-weight: 400;
}
.show_normalized {
    background-color: #5400ec;
    opacity: 0.8;
    color: white;
    font-weight: 600;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
}
footer {
    margin-top: 20px;
}
